/* MOBILE FIRST DESIGN  */
@media only screen and(min-width: 600px) {
  .searchbar {
    width: 100%;
    box-shadow: 5px 10px aquamarine;
  }

  .slider{
    width:100%;
    height:50px;
    display:flex;
    flex-direction: column;
  }

  .slider-element{
    width: 20%;
    height:50px;
    border: black;
  }
  .location {
    position: relative;
    z-index: 50;
    left: 20px;
    top: -2px;
  }

  .input {
    width: 90%;
  }

  .searchicon {
    position: relative;
    left: -22px;
    top: -2px;
  }

  .bottomcomponent {
    display: flex;
  }
}
